*{
    margin:0;
    padding: 0;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.oculto{
    display: none !important;
}

body{
    background-color: rgb(228, 215, 240);
}

/* /////////////////////////////////////////////////
HEADER
///////////////////////////////////////////////// */

.mi-nav{
    height: 14vh;
    padding: 20px;
    background-color: rgb(83, 50, 83);
    /* font-family: 'Playfair Display', serif; */
}

.navbar-titulo{
    display: flex ;
    align-items: center;
    font-size: 40px;
    /* font-family: 'Playfair Display', serif; */
    font-weight: 700;
}

.items-nav{
    display: inline-flex;
    align-items:center ;
}


/* /////////////////////////////////////////////////
SECTION GENERAL
///////////////////////////////////////////////// */
.card-contenedor{
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    margin-bottom: 10%;
}
.contenedor-section{
    height: 10%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card-contenedor-categorias-reportes{
    width: 60%;
    justify-content: center;
}

.card-subtitulo-categorias-reporte{
    font-size: 2.5em;
    font-weight: 700;
    padding-bottom: 5%;
}


/* /////////////////////////////////////////////////
SECTION BALANCE
///////////////////////////////////////////////// */


.contenedor-operaciones{
    padding: 4%;
}

.btn-operacion{
    background-color: #000;
    border: none;
    background-color: rgb(83, 50, 83);
    
}
.btn-operacion:hover{
    background-color: #3a3241;
}

.subtitulo-balance{
    font-weight: 800; 
}
.card-operaciones{
    display: flex;
    justify-content: space-between;
    
}
.contenedor-operaciones{
    width: 100%;
    
}
.contenedor-img-operaciones{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-operaciones{
    width: 70%;
    padding-top: 10%;
    padding-bottom: 5%;
}
.items, .filtros-ocultar-mostrar{
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}
select, input{
    display: block;
    cursor: pointer;
    width: 100%;
    height: 35px;
    border: .2px solid #8a868d;
    outline: none;
    border-radius: 4px;
}
select:hover, input:hover{
    border: .2px solid #3a3241;
}
select:focus, input:focus{
    box-shadow: 0 1px 2px 0 #212529;
}

label{
    font-size: .9rem;
    font-weight: 700;
    padding: 4% 0 3% 0;
}
.fecha{
    font-size: .8em;

}

.mi-flex{
    display: flex;
    flex-wrap: nowrap;
}

.font-size-item{
    font-size: .9em;
}

.text-rigth{
    text-align: right;
}

.green{
    color: green;
    font-weight: bold;
}

.red{
    color: red;
    font-weight: bold;
}

.green::before{
    content: '+';
}

.red::before{
    content: '-';
}

.contenedor-con-operaciones{
    padding-top: 5%;
}

/* //SECCION NUEVA OPERACION// */

#nueva-operacion, #editar-operacion{
    margin-top: 5%;
    width: 100%;
}
.btn-operaciones{
    margin:1%;
}
.subtitulo-operaciones{
    font-weight: 700;
    font-size: 1em;
}
.operaciones-colum{
    align-items: center;
    margin-left: 10px;
}

.btn-editar, .btn-eliminar{
    font-size: 0.8em;
}

/* /////////////////////////////////////////////////
SECTION CATEGORIAS
///////////////////////////////////////////////// */

.categoria-nombre{
    font-weight: 700;
    padding-bottom: 1%;
}

.estilo-categorias{
    font-size: 1rem;
    color: rgb(228 215 240);
    background-color: rgb(108 117 125);
    padding: 3px;
    border-radius: 3px;
    margin: .3em;
}

.contenedor-nueva-categoria{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.contenedor-categoria-input{
    width: 83%;
}

.carga-categoria{
    width: 100%;
}

.agregar-categoria{
    width: 15%;
}


/* /////////////////////////////////////////////////
SECTION REPORTES
///////////////////////////////////////////////// */

.contenedor-img-reportes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-reportes{
    width: 50%;
}

.reportes-operaciones{
    font-weight: 700;
    padding-top: 8%;
    padding-bottom: 2%;
}

.container-section-reportes{
    margin-bottom: 10%;
}

.footer{
    text-align: center;
}

/* RESPONSIVE// */
@media screen and (max-width: 1024px) {
    .navbar-collapses{
        background-color: #212529;
        position: relative;
        z-index: 1;
        margin-left: 60%;
    }  
}