*{
    margin:0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.mi-nav{
    height: 14vh;
    padding: 20px;
    font-family: 'Playfair Display', serif;
}
.main{
    background-color: rgb(228, 215, 240);
}

.navbar-titulo{
    display: flex ;
    align-items: center;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.items-nav{
    display: inline-flex;
    align-items:center ;
}

.oculto{
    display: none;
}

.container{
    padding: 50px;
}
.titulos{
    font-weight: 600;
}git
.card-contenedor{
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    background-color: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

/* card balance - vista balance */

.items{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

/* card filtros - vista balance */
